	body{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   		font-weight: 300;
   	}

	#navbar{
		float:right;
		display:inline-block;
	}
	#navbar ul{
		list-style-type:none;
		display:block;
		float:right;


	}
	#navbar ul li{
		display:inline;
		border-right:1px solid black;
		padding:5px;
	}
	#logo{
		float: left;
		white-space: nowrap
	}
	#logo img{
		width: 100px;
		float: left;
		margin-bottom: 10px

	}
	
	#worm_background{
		width: 65%;
		height: 600px;
		background-color: gray;
		clear: left;
		float:left;
	}
	#sidebar{
		background-color:teal;
		width: 33%;
		height:600px;
		float:right;
	}
	#stats ul{
		list-style-type: none;
	}

	#stats ul li{
		border-bottom: 2px solid black;
		

	}
	#graph{
		width: 100%;
		height: 50%;
		background-color: purple;


	}




/*Tablet*/



@media screen and (max-width:1024px){
	#logo img{ 
		float:none;
	}
	#logo{
		text-align:center;
	}
}