{% extends "index.html" %}
{% block title %}About - {% endblock %}
{% block content %}
	<div class="title2">	

	    <h1>About Worm Composting</h1>

	</div>
    <div class="secondary">
		<h3>What is worm composting?</h3>

		<p>Worm composting is using worms to recycle food scraps and other organic material into a valuable soil amendment called vermicompost, or worm compost. Worms eat food scraps, which become compost as they pass through the worm's body. Compost exits the worm through its' tail end. This compost can then be used to grow plants. To understand why vermicompost is good for plants, remember that the worms are eating nutrient-rich fruit and vegetable scraps, and turning them into nutrient-rich compost.</p>

		<h3>Materials to use (and avoid) in a classroom worm bin</h3>

		<p>For millions of years, worms have been hard at work breaking down organic materials and returning nutrients to the soil. By bringing a worm bin into the classroom, you are simulating the worm's role in nature. Though worms could eat any organic material, certain foods are better for the classroom worm bin.

		We recommend using only raw fruit and vegetable scraps. Stay away from meats, oils and dairy products, which are more complex materials than fruits and vegetables. Thus, they take longer to break down and can attract pests. Cooked foods are often oily or buttery, which can also attract pests.

		Avoid orange rinds and other citrus fruits, which are too acidic, and can attract fruit flies. Try to use a variety of materials. We have found the more vegetable matter, the better the worm bin. Stay away from onions and broccoli which tend to have a strong odor.</p>

		<h3>Setting up a worm bin</h3>

		<p>Setting up a worm bin is easy. All you need is a box, moist newspaper strips, and worms. To figure out how to set up a worm bin, first consider what worms need to live. If your bin provides what worms need, then it will be successful. Worms need moisture, air, food, darkness, and warm (but not hot) temperatures. Bedding, made of newspaper strips or leaves, will hold moisture and contain air spaces essential to worms.</p>

		<p>You should use red worms or red wigglers in the worm bin, which can be ordered from a worm farm and mailed to your school. The scientific name for the two commonly used red worms are Eisenia foetida and Lumbricus rubellus.</p>

		<h3>Containers</h3>

		<p>When choosing a container in which to compost with worms, you should keep in mind the amount of food scraps you wish to compost, and where the bin will be located. A good size bin for the classroom is a 5- to 10- gallon box or approximately 24" X 18" X 8". The box should be shallow rather than deep, as red wigglers are surface-dwellers and prefer to live in the top 6" of the soil..</p>

		<p>Whether you choose a plastic, wooden or glass container to use as a worm bin is a matter of personal preference based primarily on what is available. Some teachers have extra aquariums available. Some have wooden boxes which they would like to reuse. Others may prefer to buy or reuse a plastic container, such as commercially manufactured storage bin (e.g. "Rubbermaid," "Tucker," "Sterilite").</p>

		<p>No matter what material you choose, make sure to rinse out the container before using. For wooden bins, line the bottom with plastic (e.g. from a plastic bag or old shower curtain). Cover the bin with a loose fitting lid. This lid should allow air into the bin.</p>

		<h3>Harvesting</h3>

		<p>If you take care of your worms and create a favorable environment for them, they will work tirelessly to eat your "garbage" and produce compost. As time progresses, you will notice less and less bedding and more and more compost in your bin. After 3-5 months, when your bin is filled with compost (and very little bedding), it is time to harvest the bin. Harvesting means removing the finished compost from the bin. After several months, worms need to be separated from their castings which, at high concentrations, create an unhealthy environment for them.</p>

		<p>To prepare for harvesting, do not add new food to the bin for two weeks. Then try one of two methods for harvesting:</p>

		<p>Push all of the worm bin contents to one half of the bin, removing any large pieces of undecomposed food or newspaper. Put fresh bedding and food scraps in empty side of bin. Continue burying food scraps only in freshly bedded half.</p>

		<p>Over the next 2-3 weeks, the worms will move over to the new side (where the food is), conveniently leaving their compost behind in one section. When this has happened, remove the compost and replace it with fresh bedding. To facilitate worm migration, cover only the new side of the bin, causing the old side to dry out and encouraging the worms to leave the old side.</p>

		<h3>Hands-On Method: </h3>

		<p>Dump the entire contents of the worm bin onto a sheet of plastic or paper. Make several individual cone-shaped piles. Each pile will contain worms, compost and undecomposed food and bedding. As the piles are exposed to light,, the worms will migrate towards the bottom of the pile. Remove the top layer of compost from the pile, separating out pieces of undecomposed food and newspaper. After removing the top layer, let pile sit under light for 2-3 minutes as the worms migrate down. Then remove the next layer of compost. Repeat this process until all of the worms are left at the bottom of the pile. Collect the worms, weigh them (for your record keeping) and put them back in their bin with fresh bedding.</p>

		<p>Regardless of which method you choose, the compost you harvest will most likely contain a worm or two, along with old food scraps and bedding. If you are using the compost outdoors, there is no need to worry--the worms will find a happy home and the food scraps and bedding will eventually decompose. If you are using the compost indoors, you may want to remove old bedding and food scraps for aesthetic purposes and ensure that there are no worms in the compost. Though the worms will not harm your plants, the worms may not like living in a small pot.</p>

		<p>For both methods, you may continue to compost your food scraps after harvesting. Just add fresh bedding and food scraps. If, for some reason, you do not want to continue composting, please offer the setup to another teacher or to someone who will take the worm bin home. Anyone with a garden will find the worm compost extremely valuable. As a last resort, if you cannot find anyone who wants good worm compost, you may add the worms to a garden bed.</p>

		<h3>Using worm compost</h3>

		<p>You can use your compost immediately, or you can store it and use it during the gardening season, or whenever. The compost can be directly mixed with your potting soil or garden soil as a soil amendment, which helps make nutrients available to plants. Or, the compost can be used as a top dressing for your indoor or outdoor plants.</p>

		<p>You can also make "compost tea" with your compost. Simply add 1-2" of compost to your water can or rain barrel. Allow compost and water to "steep" for a day, mixing occasionally. Then water plants as you normally would. The resulting "tea" helps make nutrients already in the soil available to plants.</p>

		<h3>Biology of worms</h3>

		<p>Worms can live for about one year in the worm bin. If a worm dies in your bin, you probably will not notice it. Since the worm's body is about 90% water, it will shrivel up and become part of the compost rather quickly. New worms are born and others die all the time.</p>

		<p>Worms are hermaphrodites, which means they are both male and female at the same time. In order to mate, they still require two worms. The worms line up in opposite directions near their band (or clitellum), which contains some of the sexual organs. The worms are attached for about 15 minutes while they exchange sperm cells. Several days later, eggs come in contact with the sperm cells and form a cocoon, or egg case. The cocoon separates from the worm, then fertilization takes place. Inside the cocoon, 2-5 baby worms may be found.</p>

		<p>The baby worms live in the egg case for at least 3 weeks, sometimes longer depending on the surrounding conditions. For example, in the winter time, baby worms may stay in the cocoon for many weeks until the temperature worms up again. When the baby worms eventually crawl out, they are the thickness of a piece of thread and possibly 1 cm 1/4" long. Usually the worms appear white, as they have not yet developed pigmentation, or do not have enough pigmentation (or blood) to be seen.</p>

		<h3>Successful vermicompost projects</h3>

		<p>Many schools have been successfully composting with worms over the past few years. Some elementary school classes keep worm bins as part of an environmental unit, others for science. In most cases, teachers find a variety of multidisciplinary ways to use a worm bin. For example, one class called their room the "Worm World." Writing assignments, math lessons and art work focused on worms as a theme.</p>

		<h3>About Team Compost</h3>
		<p>An open-source vermicompost microcontroller web app created for #atthack by Brenda Jin, Jenny Murphy, Josie Zocca, Melissa Kelly, Nick Lupien, Sally Hermanto, Shannon Wang</p>

	</div>
{% endblock %}