<!DOCTYPE html>
<html>
	<head>
		<title>
		 Got Worms
		</title>
		<link rel=stylesheet href="/static/style.css" type = "text/css">
	</head>
	<body>
		<div id="top" class="section">
			<div id="logo">
				<!-- image goes here-->
				<h1>Got Worms</h1>
			</div>
			<div id="navbar">
				<ul>
					<li> <a href="https://google.com">Home</a></li>
					<li> <a href="https://google.com">Statistics</a></li>
					<li> <a href="https://google.com">Alerts</a></li>
					<li> <a href="https://google.com">About</a></li>
				</ul>
			</div>
		</div>
		<div id="middle">
			<!--Worm Image feed goes here-->
			<div id="worm_background" >
				<img src="/static/wormpic2_medium.jpg"/>
			</div>
			<div id="sidebar">
			<!--Graph goes here-->
				<div id="graph">
				</div>
			<!--statistics go here-->
				<div id="stats">
					<ul>
						{{temp}} F
						<li></li>
						{{humidity}} %
						<li></li>
					</ul>
				</div>
			</div>
		</div>

		
	</body>

</html>