<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>
			{% block title %}{% endblock %} - Got Worms
		</title>
		<link rel="stylesheet" href="/static/style.css" type = "text/css">
	</head>
	<body>
		<div id="top" class="section">
			<div id="logo">
				<img src="/static/Willy_New.png"></img>
				<h1>Got Worms</h1>
			</div>
			<div id="navbar">
				<ul>
					<li> <a href="/">Home</a></li>
					<li> <a href="/photos/">Photos</a></li>
					<li> <a href="statistics">Statistics</a></li>
					<li> <a href="/alerts/">Alerts</a></li>
					<li> <a href="/about/">About</a></li>
					<li> <a href="/settings/">Settings</a></li>
				</ul>
			</div>
		</div>
		
		<div id="middle">
			
			<!--Worm Image feed goes here-->
			
			<div id="worm_background">
				<div id="worm-container">
					{% block content %}
					<p id="growing-days">24 growing days</p>
					<img src="/static/Willy_New.png" alt="">
					<p id="box-name">Class of 2013 Box</p>

				</div>
			</div>
			
			<div id="sidebar">
			<!--statistics go here-->
				<div id="stats">
					<h3>Statistics</h3>
						<!--stat 1 goes here-->
						<p class="line" id="degree">{{temp}} F°</p>
						<!--stat 2 goes here-->
						<p id="humidity">{{humidity}} %</p>
						<p class="line" id="caption-hum">humidity level</p>
				</div>
			<!--Graph goes here-->
			
				<div id="graph">

				</div>
				<div id="statistic-caption">
					<p>ideal conditions: 59°-77° and 90% and up</p>
				</div>
			{% endblock %}
			</div>
		</div>

		<div style="clear:both"></div>
		<div id="footer">
			<p>© 2013 Got Worms</p>
			<ul>
				<li> <a href="https://google.com">Home</a></li> | 
				<li> <a href="https://google.com">Photos</a></li> | 
				<li> <a href="https://google.com">Statistics</a></li> | 
				<li> <a href="https://google.com">Alerts</a></li> | 
				<li> <a href="https://google.com">About</a></li> | 
				<li> <a href="https://google.com">Settings</a></li> 
			</ul>
		</div>
		<script src="/static/graph/vendor/d3.min.js"></script>
			<script src="/static/graph/vendor/d3.layout.min.js"></script>
			<script src="/static/graph/rickshaw.min.js"></script>
			<script>

			var data = [ { x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 17 }, { x: 3, y: 42 } ];
			
			var graphWidth=window.innerWidth/4.5; //sidebar width is 25%, so we'll expand here. 
			var graphHeight=window.innerHeight/4;

			var graph = new Rickshaw.Graph( {
				element: document.querySelector("#graph"),
				width: graphWidth,
				height: graphHeight,
				series: [ {
					color: 'steelblue',
					data: data
				} ]
			} );

			graph.render();

			</script>
	</body>
	

</html>