{% extends "index.html" %}
{% block title %}Photos - {% endblock %}
{% block content %}
	
	
		
		<div class="title2">
	    <h1>Recent Photos</h1>
	    <p>A look inside the composter.</p>
	</div>
	
	<div style="height:150px; background-color: #000"></div>
		

	<div id="slider" class="swipe">
		<div class="swipe-wrap">
			
			<div>
				<img src="/static/images/img_1731.jpg" width='100%' >
				<p>Last updated {{datestr}}</p>
			</div>
			<div>
				<img class="thumb" src="/static/images/worms2.jpg" width='100%'>
				<p>Last updated {{datestr}}</p>
			</div>
			<div>
				<img src="/static/images/worms3.jpg" width='100%'>
				<p>Last updated {{datestr}}</p>
			</div>
			<div>
			<img class="thumb" src="/static/images/wormpic2_medium.jpg" width='100%'>
			<p>Last updated {{datestr}}</p>
		</div>
		</div>
	</div>
	<script src="/static/swipe/Swipe/swipe.js"></script>
	<script> //window.mySwipe = Swipe(document.getElementById('slider'));
	window.mySwipe = new Swipe(document.getElementById('slider'), {
  startSlide: 2,
  speed: 400,
  auto: 3000,
  continuous: true,
  disableScroll: false,
  stopPropagation: false,
  callback: function(index, elem) {},
  transitionEnd: function(index, elem) {}
});

	</script>

{% endblock %}