{% extends "index.html" %}
{% block title %}Statistics - {% endblock %}
{% block content %}
<style>
	.rickshaw_graph .x_tick {
		position: absolute;	
		bottom: 0;
		width: 0;
		border-left: 1px dotted rgba(0,0,0,.2);
		pointer-events: none;
		z-index:2;
	}
</style>
<div class="title2">
    <h1>Some rad stats of our worms</h1>
</div>

<div class="secondary">
    <p>Welcome to 'Hello, worm!'.</p>
</div>

    <img src="/static/images/Humidity_solo_1000px.png">
    <img src="/static/images/Temp_solo_1000px.png">
{% endblock %}