.secondary {
	color: white;
	// background-color: #5e5e5e;
	padding: 0 5%;
	display:block;
	overflow: show;
	
}

.title2 {
	width:100%;
	background-color: #5e5e5e;

	h1 {
		padding: 0 5%;
		margin: 0;
	}
}

.settings {
	padding-right:1em;
	width: 2em;
	display: block;
	float:left;
	vertical-align:middle;
}